.Sagas {
    padding: 10px;

    &__Desc {
        border: 1px solid #efefef;
        padding: 10px;
        background-color: #efefef;
        margin-bottom: 10px;
    }

    &__Link {
        float: right;
    }
}
