.Sitemap {
    &__Title {
        text-align: center;
        margin-top: 20px;
        padding-top: 30px;
        border-top: 1px solid #efefef;
    }
    &__Desc {
        text-align: center;
        margin-top: 20px;
        padding: 10px;
        background-color: #efefef;
    }

}
